.post {
  blockquote {
    margin: 2rem 0;
    padding: 1rem 1.5rem 1rem 1.5rem;

    border-left: 5px solid #f06595;
    color: #495057;
    background-color: #f1f3f5;
  }

  pre {
    border-radius: 0.5rem;
    margin: 2rem 0;
  }
}
